{% extends "base/base.html" %}
{% load static %}
{% block title %} Account {% endblock title %}
{% block content %}
<!-- ======================= Login Detail ======================== -->
<section class="middle">
    <div class="container">
        <div class="row align-items-start justify-content-between">

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <form action="{% url 'accounts:login' %}" method="post" class="border p-3 rounded">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Email </label>
                        <input type="email" class="form-control" placeholder="Email" name="email" required>
                    </div>

                    <div class="form-group">
                        <label>Password </label>
                        <input type="password" class="form-control" placeholder="Password" name="password" required>
                    </div>

                    <div class="form-group">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="flex-1">
                                <input id="dd" class="checkbox-custom" name="dd" type="checkbox">
                                <label for="dd" class="checkbox-custom-label">Remember Me</label>
                            </div>
                            <div class="eltio_k2">
                                <a href="#">Forgot Password?</a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-md full-width bg-dark text-light fs-md ft-medium">Login</button>
                    </div>
                </form>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mfliud">
                <form action="{% url 'accounts:register' %}" method="post" class="border p-3 rounded">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>First Name </label>
                            <input type="text" class="form-control" placeholder="First Name" name="fname" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name" name="lname" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Email </label>
                        <input type="email" class="form-control" placeholder="Email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="phone" class="form-control" placeholder="Phone Number" name="phone_number" required>
                    </div>
                    <div class="form-group">
                        <label>Gender </label>
                        <ul class="no-ul-list">
                            <li>
                                <input id="c1" class="radio-custom" name="gender" type="radio" value="Male">
                                <label for="c1" class="radio-custom-label">Male</label>
                            </li>
                            <li>
                                <input id="c2" class="radio-custom" name="gender" type="radio" value="Female">
                                <label for="c2" class="radio-custom-label">Female</label>
                            </li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Password </label>
                            <input type="password" class="form-control" placeholder="Password" name="password" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Confirm Password </label>
                            <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <p>By registering your details, you agree with our Terms & Conditions, and Privacy and Cookie Policy.</p>
                    </div>

                    <div class="form-group">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="flex-1">
                                <input id="ddd" class="checkbox-custom" name="ddd" type="checkbox">
                                <label for="ddd" class="checkbox-custom-label">Sign me up for the Newsletter!</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-md full-width bg-dark text-light fs-md ft-medium">Create An Account</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
<!-- ======================= Login End ======================== -->
{% endblock %}