<div class="py-2 gray hide-ipad">
    <div class="container">
        <div class="row">

            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 hide-ipad">
                <div class="top_first"><a href="callto:(+233) 537581141" class="medium text-muted">(+233) 53 7581 141</a></div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 hide-ipad">
                <div class="top_second text-center">
                    <p class="medium text-muted m-0 p-0">
                        Welcome to Golden Grove Collection
                    </p>
                </div>
            </div>

            <!-- Right Menu -->
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 hide-ipad">
                <div class="top_last text-right">
                    <div class="address">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="lni lni-twitter-filled"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="lni lni-youtube"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="lni lni-instagram-filled"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>